faiss-cpu==1.11.0
google-colab==1.0.0
dask-cudf-cu12==25.2.2
pyasn1==0.6.1
docstring_parser==0.16
kagglehub==0.3.12
nltk==3.9.1
datasets==2.14.4
tensorflow-text==2.18.1
statsmodels==0.14.4
geemap==0.35.3
contourpy==1.3.2
srsly==2.5.1
matplotlib-inline==0.1.7
sqlparse==0.5.3
google-cloud-bigquery==3.34.0
promise==2.3
multiprocess==0.70.15
keras==3.8.0
cuda-python==12.6.2.post1
pytensor==2.31.4
sentencepiece==0.2.0
array_record==0.7.2
optax==0.2.5
safetensors==0.5.3
portpicker==1.5.2
fsspec==2025.3.2
six==1.17.0
holidays==0.75
Flask==3.1.1
joblib==1.5.1
simple-parsing==0.1.7
libpysal==4.13.0
tf-slim==1.1.0
orjson==3.10.18
Pygments==2.19.2
ipykernel==6.17.1
typer==0.16.0
flax==0.10.6
peft==0.15.2
spacy-legacy==3.0.12
jsonpointer==3.0.0
mdit-py-plugins==0.4.2
pyperclip==1.9.0
PySocks==1.7.1
httpimport==1.4.1
sphinxcontrib-serializinghtml==2.0.0
semantic-version==2.10.0
frozendict==2.4.6
cuvs-cu12==25.2.1
propcache==0.3.2
tensorflow-io-gcs-filesystem==0.37.1
nvidia-cuda-cupti-cu12==12.5.82
tblib==3.1.0
bqplot==0.12.45
arviz==0.21.0
libraft-cu12==25.2.0
rsa==4.9.1
keras-nlp==0.18.1
ratelim==0.1.6
future==1.0.0
fastdownload==0.0.7
cloudpathlib==0.21.1
simsimd==6.4.9
audioread==3.0.1
language_data==1.3.0
lightgbm==4.5.0
pyproj==3.7.1
huggingface-hub==0.33.0
librosa==0.11.0
ipyevents==2.0.2
python-utils==3.9.1
jaxlib==0.5.1
Markdown==3.8.2
tzdata==2025.2
backports.tarfile==1.2.0
geopy==2.4.1
ipyfilechooser==0.6.0
folium==0.19.7
rpds-py==0.25.1
stanio==0.5.1
googleapis-common-protos==1.70.0
numpy==2.0.2
datascience==0.17.6
progressbar2==4.5.0
pyomo==6.9.2
sklearn-compat==0.1.3
ydf==0.12.0
narwhals==1.44.0
gym-notices==0.0.8
tomlkit==0.13.3
sqlglot==25.20.2
urllib3==2.4.0
proto-plus==1.26.1
jupyter_core==5.8.1
hdbscan==0.8.40
umap-learn==0.5.7
grpcio-status==1.71.0
prophet==1.1.7
nvidia-ml-py==12.575.51
annotated-types==0.7.0
jupyterlab_widgets==3.0.15
raft-dask-cu12==25.2.0
bleach==6.2.0
networkx==3.5
SecretStorage==3.3.3
seaborn==0.13.2
safehttpx==0.1.6
pynvjitlink-cu12==0.6.0
easydict==1.13
xyzservices==2025.4.0
ale-py==0.11.1
starlette==0.46.2
pyogrio==0.11.0
requests==2.32.3
pathlib==1.0.1
pydotplus==2.0.2
google-resumable-media==2.7.2
ipython==7.34.0
PyOpenGL==3.1.9
kaggle==1.7.4.5
langsmith==0.4.1
types-pytz==2025.2.0.20250516
immutabledict==4.2.1
libcudf-cu12==25.2.1
nvidia-cuda-runtime-cu12==12.5.82
wandb==0.20.1
nx-cugraph-cu12==25.2.0
setproctitle==1.3.6
tcmlib==1.4.0
dask-cuda==25.2.0
threadpoolctl==3.6.0
mlxtend==0.23.4
importlib_metadata==8.7.0
alabaster==1.0.0
xxhash==3.5.0
albumentations==2.0.8
mpmath==1.3.0
google-crc32c==1.7.1
transformers==4.52.4
holoviews==1.20.2
community==1.0.0b1
ipython-sql==0.5.0
tinycss2==1.4.0
nvtx==0.2.12
pandas-gbq==0.29.1
hyperframe==6.1.0
nvidia-cusparselt-cu12==0.6.2
tensorboard==2.18.0
dopamine_rl==4.1.2
uc-micro-py==1.0.3
psutil==5.9.5
google-pasta==0.2.0
nvidia-cusolver-cu12==11.6.3.83
google-api-core==2.25.1
google-cloud-dataproc==5.20.0
langchain-text-splitters==0.3.8
babel==2.17.0
PyYAML==6.0.2
pydot==3.0.4
multidict==6.4.4
libcugraph-cu12==25.2.0
imageio-ffmpeg==0.6.0
geocoder==1.38.1
scipy==1.15.3
python-snappy==0.7.3
curl_cffi==0.11.4
branca==0.8.1
ibis-framework==9.5.0
dataproc-spark-connect==0.7.5
wrapt==1.17.2
nvidia-cudnn-cu12==9.3.0.75
pydantic_core==2.33.2
diffusers==0.34.0
widgetsnbextension==3.6.10
zipp==3.23.0
beautifulsoup4==4.13.4
pyzmq==24.0.1
confection==0.1.5
pynvml==12.0.0
ipython-genutils==0.2.0
pytest==8.3.5
Jinja2==3.1.6
smart-open==7.1.0
ruff==0.12.0
distributed==2024.12.1
oauthlib==3.3.1
peewee==3.18.1
kiwisolver==1.4.8
jaraco.functools==4.2.1
hyperopt==0.2.7
dm-tree==0.1.9
platformdirs==4.3.8
patsy==1.0.1
humanize==4.12.3
gdown==5.2.0
triton==3.2.0
google-genai==1.21.1
antlr4-python3-runtime==4.9.3
xarray==2025.3.1
jsonpatch==1.33
mistune==3.1.3
pexpect==4.9.0
build==1.2.2.post1
prompt_toolkit==3.0.51
pooch==1.8.2
tensorflow-datasets==4.9.9
sphinxcontrib-jsmath==1.0.1
duckdb==1.2.2
intel-openmp==2025.2.0
gspread==6.2.1
dask==2024.12.1
blinker==1.9.0
idna==3.10
uvicorn==0.34.3
jupyter-console==6.1.0
cvxpy==1.6.6
jupyter-server==1.16.0
h11==0.16.0
tzlocal==5.3.1
pycparser==2.22
markdown-it-py==3.0.0
gast==0.6.0
opt_einsum==3.4.0
jaraco.context==6.0.1
CacheControl==0.14.3
jax-cuda12-plugin==0.5.1
pluggy==1.6.0
wheel==0.45.1
matplotlib==3.10.0
opencv-python==4.11.0.86
uritemplate==4.2.0
packaging==24.2
mizani==0.13.5
google-auth-oauthlib==1.2.2
pydantic==2.11.7
inflect==7.5.0
tifffile==2025.6.11
PyGObject==3.42.0
filelock==3.18.0
spanner-graph-notebook==1.1.7
tiktoken==0.9.0
jsonschema==4.24.0
intel-cmplr-lib-ur==2025.2.0
regex==2024.11.6
google-cloud-firestore==2.21.0
oauth2client==4.1.3
httplib2==0.22.0
gymnasium==1.1.1
grpclib==0.4.8
torch==2.6.0+cu124
jsonpickle==4.1.1
grpcio==1.73.0
tf_keras==2.18.0
prettytable==3.16.0
nvidia-cuda-nvcc-cu12==12.5.82
matplotlib-venn==1.1.2
aiohappyeyeballs==2.6.1
google-cloud-language==2.17.2
anyio==4.9.0
importlib_resources==6.5.2
google-auth-httplib2==0.2.0
stumpy==1.13.0
pyasn1_modules==0.4.2
traittypes==0.2.1
snowballstemmer==3.0.1
editdistance==0.8.1
requests-oauthlib==2.0.0
nvidia-cufft-cu12==11.2.3.61
frozenlist==1.7.0
dlib==19.24.6
zstandard==0.23.0
rpy2==3.5.17
jax==0.5.2
pydub==0.25.1
typing-inspection==0.4.1
ffmpy==0.6.0
google-cloud-spanner==3.55.0
docutils==0.21.2
dill==0.3.7
httpx==0.28.1
geopandas==1.0.1
smmap==5.0.2
tensorflow-metadata==1.17.2
zict==3.0.0
blis==1.3.0
etils==1.12.2
MarkupSafe==3.0.2
pandas-stubs==2.2.2.240909
textblob==0.19.0
sphinxcontrib-devhelp==2.0.0
pycairo==1.28.0
argon2-cffi==25.1.0
preshed==3.0.10
autograd==1.8.0
tenacity==8.5.0
cons==0.4.6
nvidia-nvtx-cu12==12.4.127
polars==1.21.0
wcwidth==0.2.13
gradio==5.31.0
typeguard==4.4.4
nvidia-curand-cu12==10.3.6.82
attrs==25.3.0
tweepy==4.15.0
nbclient==0.10.2
namex==0.1.0
backcall==0.2.0
libkvikio-cu12==25.2.1
groovy==0.1.2
cmdstanpy==1.2.5
wordcloud==1.9.4
roman-numerals-py==3.1.0
h2==4.2.0
jupyter-client==6.1.12
pylibraft-cu12==25.2.0
nibabel==5.3.2
nest-asyncio==1.6.0
gcsfs==2025.3.2
en_core_web_sm==3.8.0
scs==3.2.7.post2
gym==0.25.2
keyring==25.6.0
click==8.2.1
jupytext==1.17.2
notebook==6.5.7
tbb==2022.2.0
jiter==0.10.0
google-auth==2.38.0
soundfile==0.13.1
fastcore==1.7.29
proglog==0.1.12
timm==1.0.15
cycler==0.12.1
google==2.0.3
google-cloud-aiplatform==1.99.0
text-unidecode==1.3
firebase-admin==6.9.0
soxr==0.5.0.post1
pylibcugraph-cu12==25.2.0
sympy==1.13.1
libucx-cu12==1.18.1
jeepney==0.9.0
wurlitzer==3.1.1
ucx-py-cu12==0.42.0
fonttools==4.58.4
torchdata==0.11.0
tornado==6.4.2
spacy==3.8.7
cudf-cu12==25.2.1
chex==0.1.89
parso==0.8.4
gradio_client==1.10.1
sortedcontainers==2.4.0
gin-config==0.5.0
PyDrive==1.3.1
keyrings.google-artifactregistry-auth==1.1.2
pycocotools==2.0.10
langchain-core==0.3.66
grpc-google-iam-v1==0.14.2
Bottleneck==1.4.2
panel==1.7.1
Cython==3.0.12
stringzilla==3.12.5
google-cloud-bigquery-connection==1.18.3
gspread-dataframe==4.0.0
music21==9.3.0
torchsummary==1.5.1
colorcet==3.1.0
cupy-cuda12x==13.3.0
pickleshare==0.7.5
blosc2==3.5.0
distro==1.9.0
logical-unification==0.4.6
Farama-Notifications==0.0.4
distributed-ucxx-cu12==0.42.0
googledrivedownloader==1.1.0
debugpy==1.8.0
Werkzeug==3.1.3
bigframes==2.8.0
cudf-polars-cu12==25.2.2
fastrlock==0.8.3
treescope==0.1.9
google-cloud-datastore==2.21.0
jsonschema-specifications==2025.4.1
graphviz==0.21
referencing==0.36.2
jieba==0.42.1
pyOpenSSL==24.2.1
ipyparallel==8.8.0
tensorboard-data-server==0.7.2
accelerate==1.8.1
langcodes==3.5.0
libucxx-cu12==0.42.0
google-cloud-iam==2.19.1
db-dtypes==1.4.3
scikit-image==0.25.2
termcolor==3.1.0
certifi==2025.6.15
webcolors==24.11.1
flatbuffers==25.2.10
pylibcudf-cu12==25.2.1
ucxx-cu12==0.42.0
tables==3.10.2
scooby==0.10.1
scikit-learn==1.6.1
ipywidgets==7.7.1
ptyprocess==0.7.0
greenlet==3.2.3
ipytree==0.2.2
tensorflow-hub==0.16.1
langchain==0.3.26
sphinxcontrib-htmlhelp==2.1.0
libcuml-cu12==25.2.1
pillow==11.2.1
colour==0.1.5
betterproto==2.0.0b6
optree==0.16.0
google-cloud-resource-manager==1.14.2
yarl==1.20.1
nvidia-nvcomp-cu12==4.2.0.11
py4j==0.10.9.7
pyspark==3.5.1
tsfresh==0.21.0
nbclassic==1.3.1
pandas==2.2.2
typing_extensions==4.14.0
Sphinx==8.2.3
decorator==4.4.2
jupyter-leaflet==0.20.0
tqdm==4.67.1
pyerfa==2.0.1.5
python-box==7.3.2
opencv-python-headless==4.11.0.86
clarabel==0.11.1
pyparsing==3.2.3
tensorflow_decision_forests==1.11.0
notebook_shim==0.2.4
chardet==5.2.0
plotnine==0.14.5
rmm-cu12==25.2.0
defusedxml==0.7.1
partd==1.4.2
protobuf==5.29.5
cffi==1.17.1
xlrd==2.0.2
fastapi==0.115.13
google-cloud-storage==2.19.0
aiohttp==3.11.15
google-cloud-translate==3.20.3
gitdb==4.0.12
grpc-interceptor==0.15.4
vega-datasets==0.9.0
jax-cuda12-pjrt==0.5.1
opencv-contrib-python==4.11.0.86
spacy-loggers==1.0.5
jaraco.classes==3.4.0
treelite==4.4.1
psycopg2==2.9.10
absl-py==1.4.0
iniconfig==2.1.0
shap==0.48.0
pyarrow==18.1.0
itsdangerous==2.2.0
sklearn-pandas==2.2.0
shellingham==1.5.4
google-cloud-functions==1.20.4
fastai==2.7.19
sphinxcontrib-qthelp==2.0.0
weasel==0.4.1
tensorstore==0.1.74
sphinxcontrib-applehelp==2.0.0
pyshp==2.3.1
html5lib==1.1
cloudpickle==3.1.1
cmake==3.31.6
xgboost==2.1.4
hpack==4.1.0
plotly==5.24.1
numexpr==2.11.0
pymc==5.23.0
glob2==0.7
webencodings==0.5.1
PyDrive2==1.21.3
cryptography==43.0.3
tokenizers==0.21.2
albucore==0.0.24
torchaudio==2.6.0+cu124
umf==0.11.0
pandocfilters==1.5.1
Send2Trash==1.8.3
blobfile==3.0.0
python-dateutil==2.9.0.post0
cyipopt==1.5.0
omegaconf==2.3.0
locket==1.0.0
hf-xet==1.1.5
GDAL==3.8.4
fastprogress==1.0.3
llvmlite==0.43.0
cramjam==2.10.0
lazy_loader==0.4
python-louvain==0.16
sniffio==1.3.1
websockets==15.0.1
toolz==0.12.1
python-slugify==8.0.4
bigquery-magics==0.9.0
astunparse==1.6.3
miniKanren==1.0.3
linkify-it-py==2.0.3
nvidia-nvjitlink-cu12==12.5.82
tabulate==0.9.0
soupsieve==2.7
altair==5.5.0
h5netcdf==1.6.1
keras-hub==0.18.1
tensorflow-probability==0.25.0
libcuvs-cu12==25.2.1
imbalanced-learn==0.13.0
openai==1.91.0
pydata-google-auth==1.9.1
tensorflow==2.18.0
torchao==0.10.0
simplejson==3.20.1
highspy==1.11.0
catalogue==2.0.10
cvxopt==1.3.2
numba==0.60.0
etuples==0.3.9
multitasking==0.0.11
cymem==2.0.11
charset-normalizer==3.4.2
cachetools==5.5.2
SQLAlchemy==2.0.41
msgpack==1.1.1
google-api-python-client==2.173.0
eerepr==0.1.2
murmurhash==1.0.13
PyJWT==2.10.1
slicer==0.0.8
ml-dtypes==0.4.1
websocket-client==1.8.0
thinc==8.3.6
h5py==3.14.0
nbformat==5.10.4
param==2.2.1
pymystem3==0.2.0
google-generativeai==0.8.5
argon2-cffi-bindings==21.2.0
ipyleaflet==0.20.0
astropy==7.1.0
nvidia-cusparse-cu12==12.5.1.3
pandas-datareader==0.10.0
ndindex==1.10.0
imageio==2.37.0
python-multipart==0.0.20
rich==13.9.4
pynndescent==0.5.13
mdurl==0.1.2
more-itertools==10.7.0
pycryptodomex==3.23.0
mkl==2025.0.1
yfinance==0.2.63
pyproject_hooks==1.2.0
httpcore==1.0.9
pygit2==1.18.0
marisa-trie==1.2.1
sentry-sdk==2.31.0
ply==3.11
prometheus_client==0.22.1
earthengine-api==1.5.21
multipledispatch==1.0.0
bokeh==3.7.3
nvidia-cuda-nvrtc-cu12==12.5.82
geographiclib==2.0
missingno==0.5.2
jupyter_kernel_gateway==2.5.2
yellowbrick==1.5
aiosignal==1.3.2
orbax-checkpoint==0.11.16
terminado==0.18.1
shapely==2.1.1
nvidia-cublas-cu12==12.5.3.2
moviepy==1.0.3
imagesize==1.4.1
fastjsonschema==2.21.1
google-ai-generativelanguage==0.6.15
google-cloud-bigquery-storage==2.32.0
pytz==2025.2
torchvision==0.21.0+cu124
GitPython==3.1.44
requests-toolbelt==1.0.0
py-cpuinfo==9.0.0
google-cloud-core==2.4.3
atpublic==5.1
PyWavelets==1.8.0
toml==0.10.2
libclang==18.1.1
aiofiles==24.1.0
cufflinks==0.17.3
lxml==5.4.0
einops==0.8.1
entrypoints==0.4
jupyterlab_pygments==0.3.0
traitlets==5.7.1
torchtune==0.6.1
parsy==2.1
nbconvert==7.16.6
pygame==2.6.1
osqp==1.0.4
astropy-iers-data==0.2025.6.23.0.39.50
nvidia-nccl-cu12==2.21.5
wasabi==1.1.3
rapids-dask-dependency==25.2.0
hf_transfer==0.1.9
numba-cuda==0.2.0
imutils==0.5.4
dask-expr==1.1.21
pyviz_comms==3.0.6
xarray-einstats==0.9.1
openpyxl==3.1.5
colorlover==0.3.0
cuml-cu12==25.2.1
natsort==8.4.0
et_xmlfile==2.0.0
sentence-transformers==4.1.0
python-apt==0.0.0
pip==24.1.2
types-setuptools==80.9.0.20250529
setuptools==75.2.0
requirements-parser==0.9.0
PyJWT==2.3.0
python-apt==2.4.0+ubuntu4
MarkupSafe==2.0.1
SecretStorage==3.3.1
oauthlib==3.2.0
zipp==1.0.0
cryptography==3.4.8
distro==1.7.0
Markdown==3.3.6
lazr.uri==1.0.6
keyring==23.5.0
PyGObject==3.42.1
httplib2==0.20.2
dbus-python==1.2.18
wadllib==1.3.6
launchpadlib==1.10.16
importlib-metadata==4.6.4
six==1.16.0
jeepney==0.7.1
pyparsing==2.4.7
blinker==1.4
Mako==1.1.3
lazr.restfulclient==0.14.4
more-itertools==8.10.0
packaging==24.1
more-itertools==10.3.0
platformdirs==4.2.2
wheel==0.43.0
backports.tarfile==1.2.0
zipp==3.19.2
importlib_resources==6.4.0
autocommand==2.2.2
inflect==7.3.1
typeguard==4.3.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
jaraco.collections==5.1.0
jaraco.text==3.12.1
typing_extensions==4.12.2
importlib_metadata==8.0.0
tomli==2.0.1